@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&family=Barlow:ital,wght@0,400;0,500;1,700&family=Cedarville+Cursive&family=Edu+VIC+WA+NT+Beginner:wght@400;600&family=Inter:wght@200;300;500;700&family=Manrope:wght@500;700&family=Montserrat:wght@200&family=Poppins:ital,wght@0,200;0,400;0,600;1,400&family=Raleway:wght@400;700&family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}
button {
  border: none;
  width: 100px;
  padding: 5px;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  background-color: #ed2c49;
  cursor: pointer;
}

.wrapper,
.animated--container {
  background-color: #282c34;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.wrapper {
  height: 100vh;
}
.animation {
  width: 50%;
  height: 50%;
  position: absolute;
  z-index: 10;
  top: -43%;
  left: 50%;
}
.fact--container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
  width: 70%;
  font-size: 16px;
  font-family: "Barlow Condensed";
  font-weight: 500;
  background-color: #737373;
}
.container--header {
  font-size: 32px;
  width: 100%;
}
.title {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
}

.counter--number {
  border-radius: 50%;
  background-color: #ed2c49;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  opacity: 100;
  position: relative;
  transition: all 0.5s ease-in;
}
.hidden--text {
  transition: all 0.5s ease-in;
  position: absolute;
  top: 0;
  width: 80%;
  display: none;
  font-size: 0.8em;
}
.counter--number:hover {
  width: 200px;
  border-radius: 15px;
  background-color: #aad742;
  display: hidden;
  transition: all 0.5s ease-in;
  opacity: 1;
}
.counter--number:hover .hidden--text {
  width: 200px;
  border-radius: 15px;
  background-color: #aad742;
  transition: all 0.5s ease-in;
  display: block;
}

.container--footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

/* media query for bigger screen */
@media screen and (min-width: 600px) {
  .fact--container {
    font-size: 32px;
  }
  .container--title {
    font-size: 48px;
  }
  button {
    width: 200px;
    font-size: 32px;
  }
}
